useDynLib("redatam4r", .registration = TRUE, .fixes = "R_")

export(read.redatam, description)

S3method(description, redatam.database)
S3method(description, redatam.entity)
S3method(description, redatam.variable.int)
S3method(description, redatam.variable.lng)
S3method(description, redatam.variable.chr)
S3method(description, redatam.variable.bin)
S3method(description, redatam.variable.dbl)
S3method(description, redatam.variable.pck)

S3method('[', redatam.variable.bin)
S3method('[', redatam.variable.pck)
S3method('[', redatam.variable.chr)
S3method('[', redatam.variable.int)
S3method('[', redatam.variable.lng)
S3method('[', redatam.variable.real)
S3method(length, redatam.variable.bin)
S3method(length, redatam.variable.pck)
S3method(length, redatam.variable.chr)
S3method(length, redatam.variable.int)
S3method(length, redatam.variable.lng)
S3method(length, redatam.variable.real)

